@*<a href="#menu-toggle" class="btn btn-primary" id="menu-toggle"><i class="fas fa-bars"></i></a>*@

<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a class="navbar-brand" href="#menu-toggle" id="menu-toggle"><i class="fas fa-bars"></i> TAGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Origen: Villa Maria del Triunfo <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="#">Destino: UPC Monterrico <span class="sr-only">(current)</span></a>
            @*<a class="nav-item nav-link" href="#">Features</a>
                <a class="nav-item nav-link" href="#">Pricing</a>
                <a class="nav-item nav-link disabled" href="#">Disabled</a>*@
        </div>
    </div>
</nav>

<br />

<div class="row">
    <div class="col-md-1"></div>
    <div class="card mb-3">
        <div class="card-header text-white bg-dark">UBER</div>
        <div class="card-body">
            <h5 class="card-title">Chofer 1</h5>
            <p class="card-text">Costo: S/. 10.</p>
            <p class="card-text">Tiempo estimado: 35 min.</p>
            <a href="#" class="btn btn-primary">Contactar</a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header text-white bg-warning">EASY TAXY</div>
        <div class="card-body">
            <h5 class="card-title">Chofer 2</h5>
            <p class="card-text">Costo: S/. 11.</p>
            <p class="card-text">Tiempo estimado: 20 min.</p>
            <a href="#" class="btn btn-primary">Contactar</a>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header text-white bg-dark">CABYFY</div>
        <div class="card-body">
            <h5 class="card-title">Chofer 3</h5>
            <p class="card-text">Costo: S/. 10.</p>
            <p class="card-text">Tiempo estimado: 40 min.</p>
            <a href="#" class="btn btn-primary">Contactar</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3"></div>

</div>
<div class="row">
    <div class="col-md-3"></div>

</div>